---
layout: layouts/base.njk
pagination:
  data: campaigns
  size: 1
  alias: campaign
permalink: campaigns/{{ campaign.name | slugify }}/
eleventyComputed:
  title: "{{ campaign.name }}"
  description: Campaign page for {{ campaign.character.name }}
---

<h1>{{campaign.name}}</h1>

<h3>Protagonist: <strong>{{ campaign.character.name }}</strong></h3>

<table class="about-character">
  <tr>
    <td>Pronouns</td>
    <td>{{ campaign.character.pronouns }}</td>
  </tr>
  <tr>
    <td>Callsign</td>
    <td>{{ campaign.character.callsign }}</td>
  </tr>
  <tr>
    <td>About</td>
    <td>{{ campaign.character.characteristics }}</td>
  </tr>
</table>

<h3>Current Vows</h3>
<ol>
  {% for vow in campaign.character.vows | reverse %}
    <li>{{ vow.name }}
  {% endfor %}
</ol>

<h3>Journal</h3>
<ul>
{% for journal in journal_entries | reverse %}
  {% if journal.campaignId == campaign.id %}
    <li><a href="/campaigns/{{ journal.campaignName | slugify }}/{{ journal.title | slugify }}">{{journal.title}}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h3>Lore</h3>
<ul>
{% for lore in lore_entries | reverse %}
  {% if lore.campaignId == campaign.id %}
    <li><a href="/campaigns/{{ lore.campaignName | slugify }}/lore/{{ lore.title | slugify }}">{{lore.title}}</a></li>
  {% endif %}
{% endfor %}
</ul>
