---
layout: layouts/base.njk
pagination:
  data: journal_entries
  size: 1
  alias: journal
permalink: campaigns/{{ journal.campaignName | slugify }}/{{ journal.title | slugify }}/
eleventyComputed:
  title: "{{ journal.campaignName }}: {{ journal.title }}"
  description: "{{ journal.content | striptags | safe | truncate(100) }}"
---

<article class="campaign-entry">
  <h1>{{ journal.title }}</h1>
  <h3>Part of <a href="/campaigns/{{ journal.campaignName | slugify }}/">{{ journal.campaignName }}</a></h3>

  {% if journal.image %}
    <figure>
      <img alt="{{ journal.image.alt | default('') }}" src="{{ journal.image.src }}">
      {% if journal.image.attribution %}
        <figcaption><a href="{{ journal.image.attribution }}">{{ journal.image.attribution }}</a></figcaption>
      {% endif %}
    </figure>
  {% endif %}

  {{ journal.content | safe }}

  <hr>

  <footer>
    <a href="/campaigns/{{ journal.campaignName | slugify }}">Back to {{ journal.campaignName }}</a>
  </footer>
</article>
