---
layout: layouts/base.njk
pagination:
  data: journal_entries
  size: 1
  alias: journal
permalink: campaigns/{{ journal.campaignName | slugify }}/{{ journal.title | slugify }}/
eleventyComputed:
  title: "{{ journal.campaignName }}: {{ journal.title }}"
  description: "{{ journal.content | striptags | safe | truncate(100) }}"
---

<article class="campaign-entry">
  <h5>Part of <a href="/campaigns/{{ journal.campaignName | slugify }}/">{{ journal.campaignName }}</a></h5>

  {% set entry = journal %}
  {% set showCredit = true %}
  {% include "entry_card.njk" %}

  {{ journal.content | safe }}

  <hr>

  <footer>
    <a href="#top">Back to top</a>
  </footer>
</article>
