---
layout: layouts/base.njk
pagination:
  data: lore_entries
  size: 1
  alias: lore
eleventyComputed:
  title: "{{ lore.campaignName }}, {{ lore.title }}"
  description: "{% if lore.slugline %}{{ lore.slugline | safe }}{% else %}{{ lore.content | striptags | safe | truncate(100) }}{% endif %}"
  permalink: campaigns/{{ lore.campaignName | slugify }}/lore/{{ lore.title | slugify }}/
  previewImage: ".{{ lore.image.src }}"
---

<article class="campaign-entry">
  <h5>Part of <a href="/campaigns/{{ lore.campaignName | slugify }}/">{{ lore.campaignName }}</a></h5>

  {% set entry = lore %}
  {% set showCredit = true%}
  {% include "entry_card.njk" %}

  {{ lore.content | safe }}

  <hr>

  <footer>
    <a href="#top">Back to top</a>
  </footer>
</article>
